<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hieroglyphs Translater</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="flashes">
    <div>
      <nav>
        <ul>
          <li {% if title == 'img' or title == 'upload' or title =='translated' %}class="active"{% endif %}><a href="{{ url_for('index') }}">Image</a></li>
          <li {% if title == 'text' %}class="active"{% endif %}><a href="{{ url_for('text') }}">Text</a></li>
          <li {% if title == 'album' %}class="active"{% endif %}><a href="{{ url_for('album') }}">Album</a></li>
        </ul>
      </nav>
    </div>
    <div>
      {% from "_macros.html" import flashes %}
      {{ flashes() }}      
    </div>
  </header>  
  <main>
    <div id="loader">
      <img src="../static/img/loading.gif" alt="loading gif">
    </div>
    <div id="{{ title }}" class="wrapper"> 
    <h1>{{ self.title() }}</h1>
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>
  </footer>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>