{% macro flashes() %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endmacro %}



{% macro section(src, img_ext) %}
<section class="img_section">
	<img src="../static/{{ src }}{{ img_ext }}" alt="{{img_name}}">
	<a href="../static/{{ src }}{{ img_ext }}" download="{{ src }}{{ img_ext }}" class="btn"><i class="fa fa-download"></i> Download</a>
</section>
{% endmacro %}

