{% extends "_index.html" %}
{% block title %}Hieroglyphs{% endblock %}
{% set title = 'album' %}

{% block content %}
	<div>
		{% from "_macros.html" import section %}

		{{ section( src='img/hieroglyphs1', img_ext='.jpg' ) }}
		{{ section( src='img/hieroglyphs2', img_ext='.jpg' ) }}
		{{ section( src='img/hieroglyphs3', img_ext='.jpg' ) }}
		{{ section( src='img/hieroglyphs4', img_ext='.jpg' ) }}
		{{ section( src='img/hieroglyphs5', img_ext='.jpg' ) }}
		{{ section( src='img/hieroglyphs6', img_ext='.jpg' ) }}
		
	</div>
{% endblock %}