{% extends "_index.html" %}
{% block title %}Album{% endblock %}
{% set title = 'album' %}

{% block content %}
	<div>
		{% from "_macros.html" import section %}

		{{ section( src='img/hieroglyphs1', img_ext='.jpg' ) }}
		{{ section( src='img/hieroglyphs2', img_ext='.jpg' ) }}
		{{ section( src='img/hieroglyphs3', img_ext='.jpg' ) }}
		{{ section( src='img/alfabet1', img_ext='.jpg' ) }}
		{{ section( src='img/quote1', img_ext='.jpg' ) }}
		{{ section( src='img/quote2', img_ext='.jpg' ) }}
		
	</div>
{% endblock %}