<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hieroglyphs Translater</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
  <header class="flashes">
    <div>
      <nav>
        <ul>
          <li {% if title == 'home' %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
      </nav>
    </div>
    {% from "_macros.html" import flashes %}
    {{ flashes() }}
  </header>
  
  <main>
    <h1>{{ self.title() }}</h1>
    <div id="{{ title }}">        
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer>

  </footer>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>