{% extends "_index.html" %}
{% block title %}Hieroglyphs Image Translator{% endblock %}
{% set title = 'translated' %}

{% block content %}
<!--
	<div>
		<section>
			<img src="../static/uploads/{{img_name}}{{ img_ext }}" alt="{{img_name}}">
		</section>
	</div>
	<div>
		<p id="translation">{{ txt }}</p>
	</div>
-->

<section class="img_section">
	<img src="../static/uploads/{{img_name}}{{ img_ext }}" alt="{{img_name}}">
	<a href="../static/uploads/output.txt" download="output.txt" class="btn"><i class="fa fa-download"></i> Download Ascii Art</a>
</section>
<div class="translation">
	<div>
		<h2>English</h2>
		<textarea id="textarea-en" disabled>{{ txt }}</textarea>
	</div>
	<div>
		<h2>Hieroglyphs</h2>
		<textarea id="textarea-hg" disabled>{{ txt }}</textarea>		
	</div>
	
</div>

{% endblock %}