$accent: DodgerBlue;
$bg: #1d1d1b;

@font-face {
	font-family: 'hg';
	src: url(fonts/hieroglyphs.otf) format("opentype");
}

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

.wrapper{
	max-width: 980px;
	margin: 0 auto;
}

h1, h2 { text-align: center; }
h2{ margin-top: 0; }

ul {
	list-style-type: none;
	padding-left: 0;
}

main div {
	margin-top: 60px;
}

img{
	color: white;
}

header{
	background-color: $bg;
	padding: 30px 0;

	nav ul {
		display: flex;
		margin: 0 auto;
		padding: 0;
		width: 400px;
		list-style: none;

		li {
			display: inline;
			padding: 15px 0;
			border-bottom: 2px solid $bg;
			margin: 0 auto;
			transition: 0.2s all;

			a{
				text-decoration: none;
				color: #fff;
				padding: 19px 25px;
			}

			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }

			&:hover{
				border-bottom: 2px solid $accent;
				color: black !important;
				cursor: pointer;
			}

			&.active{
				border-bottom: 2px solid $accent;
				color: black !important;
				cursor: pointer;
			}
		}

	}

	&.flashes {
		text-align: center;
		margin: 0 auto;
		font-size: 1em;
		color: white;
	}
}

#img{
	form{
		margin: 40px auto;
		width: 300px;

		input{ margin: 10px 0;}

		input[type="file" i] {
		    align-items: baseline;
			color: inherit;
			text-align: right !important;
		}

		input[type="submit" i]{
			
		}
	}
}


#upload{
	img{
		display: block;
		margin: 20px auto 0;
		max-width: 900px;
		max-height: 500px;
		border: 3px solid $bg;
	}

	.btn{
		text-decoration-line: none;
		border: 2px solid $accent;
		font-size: 1.3em;
		color: $accent;
		text-align: center;
		display: block;
		padding: 15px 0;
		margin: 0 auto;
		transition: 0.2s all;
		max-width: 450px;


		&:hover{
			color: white;
			background-color: $accent;
		}
	}
}

#text{
	form {
		display: flex;
	}
}

textarea{
	height: 400px;
	width: 462.5px;
	font-size: 2.2em;
	border: 3px solid $accent;
	resize: none;
	padding: 10px;

	&:focus{
		outline: none;
		box-shadow: 0 0 10px $accent;
	}
	&:disabled{
		background-color: white !important;
	}
}

#textarea-en {
	margin-right: 15px;
}
#textarea-hg {
	font-family: 'hg';
	margin-left: 15px;
}


section {
	float: left;
	width: 310px;
	height: 280px;
	padding: 5px;
	background-color: $bg;
	margin-bottom: 10px;
	
	img {
		width: 100%;
		height: 224px;
	}

	a {
		text-decoration: none;
		background-color: transparent;
		border: none;
		color: $accent;
		padding: 12px 30px 12px 20px;
		margin-top: 2px;
		display: block;
		cursor: pointer;
		font-size: 20px;
		text-align: center;
		transition: all 0.2s;

		&:hover{
			background-color: $accent;
			color: white;
		}

		.fa-download{
			margin-right: 20px;
		}
	}
}

section:nth-child(3n+2){
	margin: 0 10px;
}


#translated {
	.translation {
		display: flex;
		max-width: 500px;
		margin-top: 0;
			div{
				margin-bottom: 120px;
			}

			p {
				font-size: 1.2em;
				text-align: center;
			}
			section {
				textarea{
					text-align: center;
				}
			}
	}

	section {
		float: none;
		height: auto;
		//margin: 0 30px 0 0;
		margin: 0 auto;

		img {
			height: auto;
		}
		/*
		a{
			display: none;
		}*/
	}

}

#loader{
	position: absolute;
	left: 0;
	right: 0;
	margin: 25px auto 0;
	width: 300px;
	display: none;
	transition: 0.2s all;
}
.show-loading {
	display: block !important;
}

a.btn:empty:before {
  content: "\200b"; // unicode zero width space character
}